.builderContainer {
  padding: 0 1.75rem;
}

.image {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #47c97e;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 1rem;
}

.row1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.customFieldLabel {
  font-size: 0.9rem;
  color: #989999;

  display: flex;
  align-items: center;
  column-gap: 0.15rem;
}

.requiredHeading {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  column-gap: 0.5rem;
}

.requiredFields {
  margin-top: 0.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 30rem;
}

.requiredFieldDescription {
  font-size: 0.8rem;
  margin-top: 0.75rem;
  max-width: 30rem;
  font-family: 'Inter', sans-serif;
  color: #989999;
}

.uniqueField {
  max-width: 18rem;
}

.requiredField {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
}

.requiredField div {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  width: 8rem;
}

.customFieldsHeading {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  column-gap: 0.5rem;
  margin-top: 2rem;
}

.customFields {
  margin-top: 2rem;
}

.customField,
.customFieldExp {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  position: relative;
  padding: 0.75rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
  padding-right: 1rem;
}

.customFieldExp {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.customFieldType {
  display: flex;
  font-size: 0.9rem;
  font-weight: 400;
  color: #989999;
  align-items: center;
  column-gap: 0.25rem;
}

.requiredCheckbox {
  display: flex;
  align-items: center;
}

.requiredCheckbox input[type='number'] {
  width: 2rem;
  background: rgba(255, 255, 255, 0.04);
  border: none;
  border-radius: 8px;
  padding: 0.45rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.expandedRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.deleteIcon {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.iconsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.5rem;
}

.customFieldName {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 1rem);
  column-gap: 0.5rem;

  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.customFieldName input {
  width: calc(100% - 4rem);
  background: rgba(255, 255, 255, 0.04);
  border: none;
  border-radius: 8px;
  padding: 0.45rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 400;
}

.conditionRow {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.conditionsSelect {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  margin-left: 0.5rem;
}

.conditionsSelect input {
  background-color: transparent;
  border: none;
  padding: 0.55rem;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding-left: 1rem;
  font-weight: 400;
}

.buttons {
  padding: 0.25rem;
  padding-left: 1rem;
  width: 100%;
  column-gap: 1rem;
  background: rgba(255, 255, 255, 0.04);
}

.addCustomField {
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 0.95rem;
}

.addQuestionButton {
  margin-top: 1rem;
  margin-left: 2.5rem;
  font-size: 1rem;

  background: rgba(255, 255, 255, 0.04);
  border: none;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  color: white;
  margin-bottom: 1rem;
}

.addQuestionButton span {
  margin-right: 0.5rem;
}

.addQuestionButton:hover {
  background: rgba(255, 255, 255, 0.08);
}

.customFieldOption {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  column-gap: 0.5rem;
  margin-left: 1.75rem;
}

.optionInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  padding: 0.55rem;
  font-family: 'Inter', sans-serif;
  column-gap: 0.5rem;
  font-size: 0.9rem;

  width: 12rem;
}

.optionInput:focus {
  outline: 1px solid #ffffff;
  border-radius: 8px;
}

.addOption {
  margin-top: 1rem;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.changeTypeButton {
  position: relative;
  display: inline-block;
}

.changeTypeContainer {
  margin-left: 5rem;
  position: absolute;
  z-index: 99999;
}

li {
  list-style-type: none;
}

.customFieldOptionRow,
.centerRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  column-gap: 1rem;
}

.centerRow {
  align-items: center;
  padding-top: 1rem;
  padding-left: 1.75rem;
}

.formLabel {
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
}

.confirmationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  column-gap: 1rem;
}

.confirmationButtons button {
  margin-top: 1rem;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.04);
  border: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  color: white;
}

.error {
  color: #f04b4b;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}
