.bulkImportContainer {
  padding: 0 1.25rem;
  padding-left: 0.5rem;
  position: relative;
  height: 80vh;
}

.historyHeading {
  margin-left: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}

.formLabel {
  text-align: left;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
}

.formFields {
  overflow: auto;
  overflow-x: hidden;
  margin-top: 2rem;
  padding: 0.1rem;
  width: 100%;
}

.errorText {
  color: #f04b4b;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.ticketInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 100;
  position: absolute;
}

.importContainer {
  display: flex;
  margin-top: 6rem;
  flex-direction: column;
}

.dropzone {
  text-align: center;
  padding: 5rem;
  border: 3px dashed #eeeeee22;
  background-color: transparent;
  color: #bdbdbd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.dropzone:hover {
  border: 3px dashed #00bfa631;
  background-color: #00bfa608;
  color: #018f5b;

  cursor: pointer;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.dropzoneText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #bdbdbd;
  margin-top: 1rem;
}

@media (max-width: 1150px) {
  .bulkImportContainer {
    padding-left: 1.25rem;
  }

  .dropzone {
    padding: 5rem;
  }
}
