.insightsOuterContainer {
  margin: auto;
}

.glanceContainer {
  padding: 1rem;
}

.insightsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 0;
  padding-right: 0;
}

.registrationCount,
.todayRegistered,
.pieContainer,
.pageVisitsCount {
  margin: 0 0.5rem;
}

.registrationCount {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;

  font-family: 'Inter', sans-serif;
  color: white;
  width: 42%;
}

.countSection {
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 2rem;
}

.cLeftSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 1rem;
}

.cRightSection {
  width: 50%;
}

.weeklyCounts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: -0.5rem;
}

.weeklyCount {
  margin: 0 0.5rem;
}

.total {
  color: #fff;

  font-family: Inter;
  font-size: 18.75px;
  font-style: normal;
  font-weight: 600;
}

.count {
  font-size: 1.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.count span {
  color: #47c97e;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

.week {
  color: rgba(255, 255, 255, 0.5);

  font-family: Inter;
  font-size: 12.695px;
  font-style: normal;
}

.wcount {
  margin-top: 0.25rem;
  color: #c33d7b;

  font-family: Inter;
  font-size: 14px;
}

.live {
  font-size: 1rem;
  font-weight: 600;
}

.lcount {
  color: #47c97e;

  font-family: Inter;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 500;
}

.rightSectionHeading {
  font-size: 1rem;
  font-weight: 600;
}

.categories {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  row-gap: 0.5rem;
  column-gap: 1rem;

  padding-right: 1rem;
  overflow: auto;
}

.category {
  display: flex;
  align-items: row;
  justify-content: space-between;
  width: 100%;
}

.categoryName {
  color: rgba(255, 255, 255, 0.79);
  font-size: 0.9rem;
}

.categoryCount {
  font-size: 0.8rem;
}

/* Next Box */

.pageVisitsCount {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  width: 22.5%;
}

.todayRegistered {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  width: 43%;
}

.totalRegistered {
  margin-bottom: 1rem;
}

.liveTraffic {
  margin-top: 1rem;
}

/* Timme Box */

.pieContainer {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  max-width: 20rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.times {
  margin-top: 1rem;
}

.line {
  width: 2rem;
}

.time {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;

  margin: 0.25rem;
}

.pieSection {
  width: 10rem;
}

.paymentCounts {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  width: 27%;
  margin: 0 0.5rem;
}

@media (max-width: 1120px) {
  .registrationCount {
    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .rightSectionHeading {
    font-size: 0.8rem;
  }

  .totalRegistered {
    font-size: 0.8rem;
  }

  .todayRegistered {
    margin-top: 1rem;

    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .pageVisitsCount {
    margin-top: 1rem;

    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .paymentCounts {
    margin-top: 1rem;

    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .pieContainer {
    max-width: 100vw;
    margin: 0 1rem;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}
