.logs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.logContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 0.5rem;
  color: white;
  font-family: 'Inter';
  font-size: 0.9rem;
  margin-top: 1rem;
}

.helperText {
  color: white;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.25rem;
  opacity: 0.5;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  max-width: 25rem;
  opacity: 0.8;
}

.logMessage,
.logTimestamp {
  color: white;
  opacity: 0.7;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.25rem;
}

@media (min-width: 768px) {
  .logMessage {
    width: 15rem;
    color: white;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0.25rem;
  }
}

.venueHeading {
  opacity: 0.8;
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.25rem;
}
