.guestsContainer {
  padding: 0 1.25rem;
  padding-left: 0;
  position: relative;
  height: 80vh;
}

@media (max-width: 1150px) {
  .guestsContainer {
    padding-left: 1.25rem;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.guests {
  margin-top: 1rem;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tableHeading {
  color: #fff;

  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;

  width: 12rem;
}

.tableHeading span {
  color: #d2d4d7;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

.searchInput {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  /* width: 100%;
    max-width: 65.5rem; */
  margin-top: 1rem;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.searchInput input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  width: 100%;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

/* .blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
} */

.userInfoModalContainer {
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 20rem;
}

.modalSubText {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button,
.bulkUploadButton {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.bulkUploadButton {
  width: 100%;
}

.orContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  column-gap: 1rem;
  margin-top: 1rem;
}

.orContainer hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.1);
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  row-gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;

  width: 18rem;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  column-gap: 1rem;
}

.inputLabel {
  text-align: left;
  margin-bottom: 0.25rem;
}

.dropdown {
  margin-top: 1rem;
  width: 9.25rem;
}

.addGuestsText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #868686;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 25rem;
  text-align: center;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.tableButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  row-gap: 1rem;
  column-gap: 0.25rem;
}

.formLabel {
  text-align: left;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
}

.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.checkboxInput {
  margin-top: 0.25rem;
  border-radius: 50%;
  border: 2px solid #a4a4a4;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox label {
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
  opacity: 0.8;
  font-size: 0.875rem;
  font-weight: 400;
}

.ticketCode {
  display: flex;
  margin-bottom: -1rem;
}

.ticketLabel {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  color: #868686;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.scanInput {
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);
  display: flex;
  width: 100%;
}

.scanButton {
  padding: 0 1rem;
  border-radius: 0 8px 8px 0;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}
