.pageGraph,
.utmGraph {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;

  font-family: 'Inter', sans-serif;
  color: white;
}

.utmGraphContainer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.utmGraph {
  width: calc(100% - 4rem);
}

.ticketName {
  margin-top: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pageHeader {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: white;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .utmGraph {
    flex: 1 1 0;
    width: 0;

    min-width: 30rem;
  }
}
