.onClickModal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem;

  max-width: 20rem;
  width: 100%;

  margin-bottom: 1rem;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(800px);

  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;

  text-align: center;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 0.5rem;
}

.modalSubText {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  row-gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;

  width: 18rem;
}

.inputLabel {
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.modalText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  color: white;
  text-align: left;
  max-width: 20rem;
  margin-top: 0.75rem;
}

.landingPageContainer {
  color: white;
  min-height: 100vh;
}

@media screen and (max-width: 1350px) {
  .landingPageContainer {
    padding: 0 1.25rem;
  }
}

/* Landing Page CSS */

.secondSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  flex-wrap: wrap;
  align-items: center;
  margin-top: 3rem;
}

.ssText {
  font-family: 'CooperLight';
  font-size: 3.25rem;
  max-width: 25rem;
}

.ssImg {
  width: 100%;
  max-width: 35rem;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .ssText {
    font-family: 'CooperLight';
    font-size: 2.5rem;
    max-width: 25rem;
  }
}

.footerContainer {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.fLogoText {
  display: flex;
  justify-content: center;
  align-items: cen;
  column-gap: 0.25rem;
  font-family: 'Aeonik';
}

.location {
  font-family: 'Inter';
  opacity: 0.7;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.otherLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem;
  font-family: 'Inter';
  opacity: 0.8;
  font-size: 0.9rem;
  row-gap: 1rem;
}

.fsHeading {
  font-family: 'CooperLight';
  font-size: 3.25rem;

  margin-bottom: 1rem;
}

.ssHeading {
  font-family: 'CooperLight';
  font-size: 2.5rem;

  margin-bottom: 1rem;
}

.fsHeading span {
  color: #272727;
  background-color: #01f77e;
  font-size: 3rem;
  padding: 0.2;
  transform: rotate(90deg);
}

.ssHeading span {
  color: #272727;
  background-color: #01f77e;
  font-size: 2.75rem;
  padding: 0.2;
  transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .fsHeading {
    font-size: 4rem;
    max-width: 20rem;
  }

  .ssHeading {
    font-size: 2.5rem;
    max-width: 25rem;
  }

  .fsSubHeading {
    font-size: 1rem;
    max-width: 25rem;
  }
}

@media screen and (max-width: 576px) {
  .fsHeading {
    font-size: 2.75rem;
  }

  .ssHeading {
    font-size: 2rem;
  }

  .fsSubHeading {
    font-size: 1.1rem;
    max-width: 20rem;
  }
}

.timeWastedContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Aeonik';
  font-size: 1rem;
  color: white;
  margin-top: 1rem;
}

.timeWastedContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.timeWastedContainer li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  opacity: 0.9;
  max-width: 25rem;
}

.timeWastedContainer li span {
  font-weight: bold;
  margin-right: 0.5rem;
  color: #01f77e;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .timeWastedContainer li {
    font-size: 0.9rem;
  }
}

.didyouknow {
  color: #01f77e;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: 'Inter', sans-serif;
}

.theEasyWay {
  margin-top: 2rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: italic;
  color: #01f77cc2;
  margin-bottom: 1rem;
}

/* Third Section */

.thirdSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.tsHeading {
  font-family: 'CooperLight';
  font-size: 3.25rem;
  margin-bottom: 1rem;
}

.tsImage {
  width: 100%;
  max-width: 25rem;
  margin-top: 2rem;
}

.tsSubHeading {
  font-family: 'Aeonik';
  font-size: 1.1rem;
  max-width: 38rem;
  margin-top: 2rem;
}

@media screen and (max-width: 576px) {
  .tsHeading {
    font-size: 2.75rem;
  }

  .tsSubHeading {
    font-size: 1.1rem;
    max-width: 20rem;
  }
}

.tsHeading span {
  color: #272727;
  background-color: #01f77e;
  font-size: 2.75rem;
  padding: 0.2;
  transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .tsHeading {
    font-size: 4rem;
    max-width: 20rem;
  }

  .tsHeading {
    font-size: 2.5rem;
    max-width: 25rem;
  }

  .tsSubHeading {
    font-size: 1rem;
    max-width: 25rem;
  }
}

@media screen and (max-width: 1078px) {
  .thirdSection {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    column-gap: 1rem;
    row-gap: 1rem;
    align-items: flex-start;
  }
}

.frImage {
  width: 100%;
  max-width: 35rem;
  margin-top: 2rem;
}

@media screen and (min-width: 1078px) {
  .frsTexts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.frHeading {
  font-family: 'CooperLight';
  font-size: 3.25rem;
  margin-bottom: 1rem;
  text-align: left;
}

@media screen and (min-width: 1078px) {
  .frHeading {
    text-align: right;
  }
}

.frsImage {
  width: 100%;
  max-width: 28rem;
  margin-top: 2rem;
}

.frSubHeading {
  font-family: 'Aeonik';
  font-size: 1.1rem;
  max-width: 38rem;
}

@media screen and (min-width: 1078px) {
  .frSubHeading {
    text-align: right;
  }
}

@media screen and (max-width: 576px) {
  .frHeading {
    font-size: 2.75rem;
  }

  .frSubHeading {
    font-size: 1.1rem;
    max-width: 20rem;
  }
}

.frHeading span {
  color: #272727;
  background-color: #01f77e;
  font-size: 2.5rem;
  padding: 0.2;
  transform: rotate(90deg);
}

@media screen and (max-width: 768px) {
  .frHeading {
    font-size: 4rem;
    max-width: 20rem;
  }

  .frHeading {
    font-size: 2.5rem;
    max-width: 25rem;
  }

  .frSubHeading {
    font-size: 1rem;
    max-width: 25rem;
  }
}
