.landingPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;
  height: 80vh;
  overflow: hidden;
  margin: auto;
}

.roundThing {
  background: rgba(118, 98, 252, 0.13);
  display: block;
  width: 9rem;
  padding: 0.5rem;

  border-radius: 15px;
  text-align: center;

  color: #7662fc;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 16.767px; /* 113.52% */

  margin: auto;
  margin-bottom: 0.5rem;
}

.headingText {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.mainHeading {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 3.5rem;
  font-style: normal;
  line-height: 500px;
  font-weight: 600;
  line-height: 57.194px; /* 90.647% */
}

.mainHeading span {
  color: #7662fc;
}

.subHeading {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: Inter;
  max-width: 35rem;
  margin: auto;
  margin-top: 0.5rem;
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

.launch {
  margin-top: 1rerm;
  display: flex;
  padding: 4px 11px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);

  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;

  padding: 0.5rem 1rem;
  margin: auto;
  margin-top: 1rem;
}

.launchAt {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: Inter;
  margin: auto;
  line-height: 1.5rem;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 400;
  color: #7662fc;
}

.landingImage {
  margin-top: 1rem;
  width: 85%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}

@media only screen and (max-width: 768px) {
  .mainHeading {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .subHeading {
    font-size: 0.8rem;
    line-height: 1.3rem;
    max-width: 25rem;
  }

  .launch {
    padding: 0.3rem 0.8rem;
  }

  .launchAt {
    font-size: 0.6rem;
  }

  .landingImage {
    margin-top: 0.5rem;
  }
}

.tc {
  color: #a5a5a5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
  font-size: 0.8rem;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.onClickModal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background-color: #252525;
  padding: 1rem;

  /* 
  max-width: 20rem;
  width: 100%; */

  margin-bottom: 1rem;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(800px);

  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;

  text-align: center;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 0.5rem;
}

.modalSubText {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  row-gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;

  width: 18rem;
}

.inputLabel {
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.modalText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  color: white;
  text-align: left;
  max-width: 20rem;
  margin-top: 0.75rem;
}
