.onClickModal {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background-color: #252525;
  padding: 1rem;

  max-width: 20rem;
  width: 100%;

  margin-bottom: 1rem;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(800px);

  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;

  text-align: center;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: left;
  margin-top: 0.5rem;
}

.modalSubText {
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.inputContainers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  row-gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;

  width: 18rem;
}

.inputLabel {
  text-align: left;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.modalText {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  color: white;
  text-align: left;
  max-width: 20rem;
  margin-top: 0.75rem;
}

.landingPageContainer {
  color: white;
  min-height: 100vh;
}

/* Landing Page CSS */

.firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.fsHeading {
  font-family: 'CooperLight';
  font-size: 4rem;
  max-width: 28rem;
  margin-bottom: 1rem;
}

.fsHeading span {
  color: #4eff99;
}

.arrowCircle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 1rem;
}

.circle {
  margin-left: -3rem;
  width: 5.5rem;
}

.fsImage {
  width: 100%;
  max-width: 25rem;
  margin-top: 2rem;
}

.fsSubHeading {
  font-family: 'Aeonik';
  max-width: 30rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.requestDemo {
  border-radius: 11.059px;
  border: 0.691px solid #181818;
  font-family: 'Inter';
  font-size: 1rem;
  background: #01f77e;
  box-shadow: 9.146px 7.622px 0px 0px #000;
  padding: 0.75rem 2rem;
  margin-top: 2rem;
}

.eventPartnersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background-color: #222425;
  padding: 1rem;
  border-radius: 12px;
}

.eventPartners {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}

.eventPartners img {
  margin: 0 1rem;
}

.secondSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.ssText {
  font-family: 'CooperLight';
  font-size: 3.25rem;
  max-width: 25rem;
}

.ssImg {
  width: 100%;
  max-width: 35rem;
  margin-top: 2rem;
}

.thirdSection {
  margin-top: 2rem;
  border-radius: 13px;
  background: rgba(34, 36, 37, 0.8);
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}

.tsPoints {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  align-items: center;
}

.tsImg {
  max-width: 35rem;
  width: 100%;
}

.tsHeading {
  font-family: 'CooperLight';
  font-size: 3.25rem;
  max-width: 25rem;
}

.tsText {
  font-family: 'Aeonik';
  font-size: 1rem;
  max-width: 25rem;
}
