.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: row;

  margin-bottom: 5rem;

  height: 65vh;
}

.form {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  max-width: 25rem;
  padding: 2rem;

  z-index: 2;
}

@media (min-width: 720px) {
  .form {
    min-width: 25rem;
  }
}

.alertMessage {
  color: #ff6384;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  /* max-width: ; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 0.25rem;
}

.formTitle {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
}

.formText {
  margin-top: 0.25rem;
  font-weight: 400;
  color: #a4a4a4;
  font-size: 0.875rem;
  width: 13rem;
}

.formInput {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formLabel {
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

.inputField {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);

  display: flex;
}

.inputField input,
.inputField textarea {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  margin-left: 0.45rem;
  font-weight: 400;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
}

.inputField input:focus {
  border: none;
  outline: none;
}

.formFooter {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.formFooter p {
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
}

.submitButton {
  display: flex;
  padding: 0.25rem 1.5rem;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: none;

  color: #a4a4a4;
  font-family: 'Inter', sans-serif;
  background: rgba(255, 255, 255, 0.08);

  width: 8rem;

  float: right;
}

.mascot {
  width: 12rem;
  margin-bottom: -12rem;
}

@media (max-width: 720px) {
  .formContainer {
    flex-direction: column-reverse;
    height: 70vh;
  }

  .formInput {
    /* max-width: 20.5rem; */
    width: 100%;
  }

  .form {
    max-width: 20rem;
  }

  .mascot {
    width: 9rem;
    margin-bottom: -1.5rem;
  }

  .submitButton {
    padding: 0.15rem 0.5rem;

    width: 8rem;
    font-size: 0.8rem;

    float: right;
  }

  .formFooter p {
    color: #a4a4a4;
    font-size: 0.75rem;
    font-weight: 400;
  }
}

@media (max-width: 500px) {
  .formInput {
    min-width: none;
  }
}

.errorText {
  color: #f04b4b;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.fieldDescription {
  color: #a4a4a4;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.googleIcon {
  width: 95%;
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem;
  border-radius: 8px;
  color: #a4a4a445;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.2s;
}
.googleIcon:hover {
  color: #a4a4a4;
  background: rgba(255, 255, 255, 0.08);
}

.formAltLoginContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.orContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #99989845;
  position: relative;
  border-radius: 8px;
}

.or {
  font-size: 0.5;
  padding: 0 10px;
  color: #a4a4a445;
  /* Background of the 'or' should match the container background */
  z-index: 1;
  /* Ensure 'or' is above the lines */
}
.passwordResetContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.passwordReset {
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
}
