.textarea {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: white;
}

.textarea:focus {
  border: none;
  outline: none;
}

.formLabel {
  text-align: left;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
}

.formDescription {
  color: #a4a4a4;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
}

.formFields {
  overflow: auto;
  overflow-x: hidden;
  margin-top: 1rem;
  padding: 0.1rem;
  width: 100%;
}

.errorText {
  color: #f04b4b;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.radioContainer,
.radio {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.radioInput {
  margin-top: 0.25rem;
  border-radius: 50%;
  border: 2px solid #a4a4a4;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radioInput::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #a4a4a4;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.radioInput:checked::before {
  opacity: 1;
}

.radioLabel {
  margin-left: 0.5rem;
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
  opacity: 0.8;
  font-size: 0.875rem;
  font-weight: 400;
}

.fileInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
}

.fileInput::file-selector-button {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  background: transparent;
  padding: 10px 20px;

  border-radius: 10px;
  color: #a4a4a487;
  background: #1b2725ca;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fileInput::file-selector-button:hover {
  color: #a4a4a4;
  background: #1b2725;
}

.dateInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
}

.dateInput::date-selector-button {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  background: transparent;
  padding: 10px 20px;

  border-radius: 10px;
  border: none;
  color: #a4a4a487;
  background: #1b2725;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.dateInput::date-selector-button:hover {
  color: #a4a4a4;
  background: #1b2725;
  border: none;
}

input {
  color-scheme: dark;
}

.star {
  background: #1b2725;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.fieldDescription {
  color: #a4a4a4;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  max-width: 18rem;
}

.line {
  margin: auto;
  width: 95%;
  height: 2px;
  background: #a4a4a4;
  opacity: 0.2;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.numberInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 1rem;
  background: rgba(255, 255, 255, 0.04);
  width: 93%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
}
