.textarea {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: white;
}

.textarea:focus {
  border: none;
  outline: none;
}

.formLabel {
  text-align: left;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
}

.formFields {
  overflow: auto;
  overflow-x: hidden;
  margin-top: 2rem;
  position: relative;
  z-index: 1000;
}

.errorText {
  color: #f04b4b;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}
