.bannerContainer,
.eventDescriptionContainer,
.googleContainer {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #212325;

  display: flex;
  flex-direction: row;

  flex-wrap: wrap;

  column-gap: 1rem;

  color: white;
  font-family: 'Inter', sans-serif;

  padding: 1rem;
}

.eventDescriptionContainer {
  min-height: 8rem;
  width: 100%;
  padding: 0;
}

.row1 {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.googleContainer {
  margin-top: 1rem;
  padding: 0;
}

.locationHeader {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.bottomLocationHeader {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  padding-left: 1rem;
}

.eventDescriptionContainer {
  margin-top: 1rem;
  font-size: 0.9rem;
  position: relative;
}

.eventDescriptionContainer ul {
  margin-left: 1rem;
}

.eventDescriptionContainer ul > li {
  margin-left: 1rem;
}

.eventDataContainer2 {
  max-width: 30rem;
  width: 100%;
  justify-content: flex-start;
}

.eventTopHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;

  column-gap: 1rem;
}

.bannerImg {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1rem;
  max-height: 20rem;
  object-fit: cover;
  align-content: center;
}

.eventDataContainer2 {
  max-width: 30rem;
  width: 100%;
  justify-content: flex-start;
}

.eventImage {
  width: 5rem;
  height: 5rem;
  border-radius: 8px;
  object-fit: cover;
}

.eventTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;

  font-family: 'Inter', sans-serif;
}

.eventDescription {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.otherDetials {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  column-gap: 0.25rem;
  margin-top: 1.5rem;
}

.eventDate {
  margin-right: 1rem;
  font-size: 0.85rem;
  white-space: nowrap;
}

.location {
  max-width: 12rem;
  font-size: 0.85rem;
  margin-right: 1rem;
}

.time,
.subLocation {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.clockIcon {
  margin-right: 0.25rem;
  color: #bbbaba;
}

.eventDate,
.eventPlace {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.dateBox {
  width: 3rem;

  height: 3rem;
  border: 2px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;
}

.eventMonth {
  text-align: center;
  padding: 0.25rem 0.5rem;
  font-size: 0.65rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.04);
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.eventDateNum {
  margin: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.eventDateText {
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  max-width: 15rem;
}

.line {
  width: 100%;
  height: 2px;
  background: rgba(255, 255, 255, 0.04);

  border: none;
}

.eventTimeText {
  margin-top: 0.5rem;
  max-width: 12rem;
  font-size: 0.7rem;
  font-weight: 400;
  color: #bbbaba;
  word-wrap: break-all;
  font-family: 'Inter', sans-serif;
}

.eventTimeText span {
  word-break: break-all;
}

.locationBox {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2.5rem;
  border: 2px solid rgba(255, 255, 255, 0.04);
  border-radius: 8px;
}

.locationIcon {
  padding: 0.25rem 0.5rem;
  color: #ffffff;
}

.eventDescHeading,
.speakersHeading {
  font-size: 1.12rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.75rem;
  margin-left: 1rem;
}

.eventDescHeading span,
.speakersHeading span {
  margin-left: 0.5rem;
}

.expandIcon {
  cursor: pointer;
  position: absolute;
  padding: 1rem;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 530px) {
  .row1 {
    flex-wrap: wrap;
  }
}

.eventDescription {
  margin: 0 1rem;
  margin-right: 1.5rem;
  line-height: 1.5;
}

.eventDescription p {
  margin: 1rem 0;
}

.eventDescription li {
  margin: 0.5rem 0;
}

.eventDescription ul > li > ul {
  margin-left: 1rem;
}

.eventHost {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 0.25rem;
}

.hostedBy {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  align-items: center;
}

.hostLogo {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.registerButton {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  width: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  display: none;
}

@media screen and (max-width: 530px) {
  .registerButton {
    display: block;
  }
}

.speakersContainer {
  margin-top: 1rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #212325;
}

.speakersListing {
  padding: 1rem 1rem;
  display: grid;
  grid-auto-flow: column dense; /* column flow with "dense" to fill all the cells */
  grid-template-rows: 8rem 8rem; /* 2 rows */
  grid-auto-columns: 8rem;
  row-gap: 1rem;
  column-gap: 0.5rem;
  max-height: 25rem;
  overflow: auto;
}

.speakerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.speakerProfilePic {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 8px;
}

.speakerInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.25rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  text-align: flex-start;
}

.speakerName {
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.25rem;
  font-family: 'Inter', sans-serif;
}

.speakerPosition {
  font-size: 0.7rem;
  font-weight: 500;
  color: #cccccc;
  font-family: 'Inter', sans-serif;
  display: none;
}

.speakerContainer:hover .speakerPosition {
  display: block;
}

.closedEvent {
  max-width: 31rem;
  width: 100%;
  display: block;
  margin: 0 auto;
}
