.buttonContainer {
  border: 2px solid rgba(255, 255, 255, 0.02);
  background: rgba(255, 255, 255, 0.04);
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: fit-content;
}

.buttonText {
  color: #fff;
  margin-right: 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}

.buttonIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconBefore {
  margin-right: 0.5rem;
}

@media screen and (max-width: 768px) {
  .buttonContainer {
    margin-top: 0;
    padding: 0.5rem 1rem;
  }

  .buttonText {
    font-size: 0.9rem;
    margin-right: 0.25rem;
  }
}
