.eventPageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  row-gap: 1rem;
  /* height: 85vh; */
  overflow: hidden;
  column-gap: 1rem;
}

@media screen and (max-width: 1280px) {
  .eventPageContainer {
    padding: 1rem;
  }
}

.formFields {
  width: 100%;
}

.eventHeaderContainer {
  position: sticky;
  top: 0;
  max-width: 40rem;
  width: 100%;
}

.eventHeaderDescription {
  margin-top: 0.25rem;
  opacity: 0.8;
  font-size: 0.9rem;
  width: 100%;
}

.eventDataContainer,
.eventForm,
.eventDataContainer2 {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-wrap: wrap;

  column-gap: 1rem;

  color: white;
  font-family: 'Inter', sans-serif;

  padding: 2rem;
}

.eventFormInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
}

.eventFormTitle {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif;
}

.backButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  font-size: 1.05rem;
  padding: 0.75rem 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  max-width: 10rem;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 1rem;
}

.privateEventText {
  font-size: 1rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  text-align: center;
  margin-bottom: 1rem;
  max-width: 25rem;

  display: block;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.submitButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  color: white;
  font-size: 1.05rem;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 1rem auto;

  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
}

.formContainer {
  overflow: auto;
  max-height: 100%;
  max-width: 39rem;
  width: 100%;
}

@media screen and (max-width: 1130px) {
  .eventPageContainer {
    flex-wrap: wrap;
  }

  .eventPageContainer {
    height: 100%;
  }

  .eventHeaderContainer {
    position: relative;
    max-width: 32rem;
  }

  .formContainer {
    overflow: auto;
    max-height: 100%;
    max-width: 32rem;
    width: 100%;
  }
}

.voiceButton {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -0.5rem;
}

.reocordUsingVoiceButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  font-size: 0.9rem;
  padding: 0.6rem 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
}

.claimCodeExccededMessage {
  font-size: 1rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1rem;

  margin-bottom: 1rem;
  background-color: rgba(240, 75, 75, 0.1);

  border: 1px solid rgba(240, 75, 75);
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 0.5rem;

  span {
    font-size: 0.9rem;
    color: white;
  }
}
