.eventDataContainer,
.eventForm {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  max-width: 25rem;
  min-width: 20rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;
}

.eventTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;

  font-family: 'Inter', sans-serif;
}

.eventDescription {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  max-width: 27rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.otherDetials {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  column-gap: 0.25rem;
  margin-top: 1.5rem;
}

.eventDate {
  margin-right: 1rem;
}

.time,
.subLocation {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.clockIcon {
  margin-right: 0.25rem;
  color: #bbbaba;
}

.eventFormTitle {
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.ticketTypes {
  max-width: 30rem;
  min-width: 20rem;
  margin: auto;
}

.ticketTypesTitle {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.ticketType {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  max-width: 25rem;
  min-width: 20rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;
}

.ticketTypeTitle {
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.ticketPrice {
  margin-left: 0.5rem;
  background-color: rgb(70, 70, 70);
  color: white;
  font-size: 0.9rem;

  padding: 0.25rem 0.5rem;
  border-radius: 6px;
}

.submitButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  font-size: 1.15rem;
  padding: 0.75rem 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;
}

.passText {
  display: flex;
}

.ticketHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space;
  margin-bottom: 1rem;
}

.perkList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.perk {
  font-size: 0.9rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.ticketPerksTitle {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}
