.mailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  overflow: auto;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.mailHeader {
  display: flex;
  column-gap: 1rem;
  row-gap: 0.5rem;
  flex-wrap: wrap;
  color: white;
  width: 100%;
}

.mail {
  margin-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.04);
  padding: 1rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  width: 90%;
}

.line {
  margin: auto;
  height: 2px;
  background: #a4a4a4;
  opacity: 0.2;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.expandIcon {
  position: absolute;
  right: 1.25rem;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s;
}

.mailSubject {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.mailType {
  font-size: 0.8rem;
  font-weight: 400;
  color: #a4a4a4;
  margin-bottom: 0.25rem;
}

.mailDescription {
  font-size: 0.8rem;
  font-weight: 400;
  color: #d2d4d7;

  span {
    color: #ff9641;
  }
}

.mailContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.5;
  color: white;
  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Inter', sans-serif;
  }
}

.mailLogsHeaders {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
}
