.projectsSection {
  margin-top: 2rem;
}

.projectsHeadingText {
  font-family: 'CooperLight';
  font-size: 3.25rem;
  max-width: 25rem;

  margin-bottom: 2rem;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2rem;
  row-gap: 1rem;
  max-height: 17rem;
  height: 100%;
}

.projectDate {
  font-family: 'Inter';
  font-size: 0.9rem;
  color: white;
  white-space: nowrap;
  width: 6rem;
}

.projectDay {
  font-family: 'Inter';
  font-size: 0.8rem;
  color: white;
  margin-top: 0.25rem;
  opacity: 0.5;
}

.projectDetails {
  margin-bottom: 2rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: flex-start;
  width: calc(100% - 4rem);
}

.projectHeading {
  font-family: 'Inter';
  font-size: 1.25rem;
  color: white;
  margin-bottom: 0.5rem;
}

.projectTexts {
  margin-right: 1rem;
  min-width: 15rem;
}

.projectText {
  font-family: 'Aeonik';
  font-size: 1rem;
  color: white;
  opacity: 0.8;
  max-width: 20rem;
}

.projectImages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectImage {
  border-radius: 12px;
  margin: 0.5rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  object-fit: cover;
}

/* Responsive media queries for smaller devices */

@media (max-width: 768px) {
  .project {
    flex-wrap: wrap;
  }

  .projectsHeadingText {
    font-size: 2.5rem;
    max-width: none;
  }

  .projectHeading {
    font-size: 1.1rem;
  }

  .projectText {
    font-size: 0.9rem;
    max-width: none;
  }

  .projectImage {
    width: 10rem;
    height: 10rem;
  }
}

@media (max-width: 576px) {
  .projectsHeadingText {
    font-size: 2rem;
    max-width: none;
  }

  .projectHeading {
    font-size: 1.1rem;
  }

  .projectText {
    font-size: 0.9rem;
    max-width: none;
  }

  .projectImage {
    width: 8rem;
    height: 8rem;
  }
}

.projectImagesContainer {
  border-radius: 12px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 450px;
}

.projectImagesContainer:hover .eventPartners {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.projectImages {
  display: inline-block;
  animation: 18s slide infinite linear;
}

.projectImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.counts {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;

  font-family: 'Inter';
  justify-content: flex-start;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  font-size: 0.9rem;
}

.count {
  color: #01f77e;
}

.dotted {
  height: 18rem;
}

.line {
  margin-left: 0.45rem;
  border-left: 2px dashed rgba(255, 255, 255, 0.08);
  height: 17rem;
  z-index: 0;
}

.dot {
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.32);
  background: #12251e;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  z-index: 1;
}

@media (max-width: 1110px) {
  .lineDot {
    display: none;
  }

  .project {
    max-height: none;
    height: 100%;
  }
}
