.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.inputContainers {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
  justify-content: flex-start;
  row-gap: 1rem;
  width: fit-content;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 1rem;
  width: 100%;
}

.input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #fff;
  border: none;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-top: 0.25rem;

  width: 18rem;
}

.inputLabel {
  text-align: left;
  margin-bottom: 0.25rem;
}

.showPass {
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.svgText {
  color: #fff;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  position: relative;
}
.loader {
  position: relative;
  margin: auto;
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

@media screen and (max-width: 435px) {
  .svgText {
    transform: translateX(-0.5rem);
  }
}
@media screen and (max-width: 376px) {
  .svgText {
    transform: translateX(-1.4rem);
  }
}
