.formLabel {
  text-align: left;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
}

.scanTicketCodeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Inter';
  position: relative;

  column-gap: 0.5rem;
}

.scanTicketCodeInput {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);
  width: 100%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: white;
}

.scanTicketCodeButton {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  background: transparent;
  padding: 10px 20px;

  border-radius: 10px;
  color: #a4a4a487;
  background: rgba(255, 255, 255, 0.04);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
