.previewContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-top: 1rem;
  max-width: 30rem;
  flex-wrap: wrap;
}

.fileInput {
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* padding: 0.5rem 0.5rem; */

  width: 30%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
}

.fileInput::file-selector-button {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  background: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  color: #a4a4a487;
  background: #1b2725ca;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fileInput::file-selector-button:hover {
  color: #a4a4a4;
  background: #1b2725;
}

.uploadContainer input[type='file'] {
  color: rgba(0, 0, 0, 0);
}
