.onClickModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgb(37, 37, 37, 0.9);

  padding: 1rem;

  max-width: 25rem;
  margin-bottom: 1rem;
  position: fixed;
  z-index: 110;
  backdrop-filter: blur(800px);
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;
  width: 100%;
  text-align: center;
}

.sideModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #1b2725;
  padding: 1rem;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(800px);

  top: 50%;
  left: auto;
  right: 0;
  bottom: 0;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;
  /* width: 50%; */
  height: calc(100vh - 2rem);
  overflow-y: scroll;
  overflow-x: scroll;
  outline: none;
}

.modalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

@media (min-width: 720px) {
  .onClickModal {
    min-width: 25rem;
  }

  .sideModal {
    min-width: 25rem;
    max-width: 30rem;
  }
}

@media (max-width: 720px) {
  .onClickModal {
    width: 90%;
  }
  .sideModal {
    width: 95%;
  }
}

@media (max-width: 500px) {
  .sideModal {
    padding: 1rem;
    width: 93%;
  }
}

@media (max-width: 400px) {
  .onClickModal {
    margin: 1rem;
    width: auto;
  }
  .sideModal {
    padding: 1rem;
    width: 92%;
  }
}

.closeButton {
  cursor: pointer;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  background: none;
  border: none;
  outline: none;
}
