.loaderButton{
    position: relative;
    margin-left: auto;
    opacity: 0;
    transform: translateX(0px);
    transition: all 0.2s ease-in-out;
}


.loaderButton.loading{
    position: relative;
    margin-left: auto;
    opacity: 1;
    transform: translateX(0px);
    transition: all 0.2s ease-in-out;
    animation: fadein 0.2s;
}



@keyframes fadein {
    from {
         opacity: 0;
            transform: translateX(-5px);
    }
    to   {
         opacity: 1; 
            transform: translateX(0px);
        }
}
