.inEventContainer {
  padding: 0 1.25rem;
  padding-left: 0;
}

@media (max-width: 1150px) {
  .inEventContainer {
    padding-left: 1.25rem;
  }
}

.insightsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 0;
  padding-right: 0;
  margin-top: 1rem;
}

.registrationCount,
.todayRegistered,
.pieContainer,
.pageVisitsCount {
  margin: 0 0.5rem;
}

.registrationCount {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;

  font-family: 'Inter', sans-serif;
  color: white;
  width: 42%;
}

.countSection {
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 1rem;
}

.cLeftSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 1rem;

  width: 50%;
}

.cRightSection {
  width: 50%;
}

.weeklyCounts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -0.5rem;
}

.weeklyCount {
  margin: 0 0.5rem;
}

.total {
  color: #fff;

  font-family: Inter;
  font-size: 18.75px;
  font-style: normal;
  font-weight: 600;

  margin-top: 1rem;
}

.day {
  color: #fff;

  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.count {
  font-size: 1.35rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dcount {
  font-size: 1.15rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.count span,
.dcount span {
  color: #47c97e;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
}

.week {
  color: rgba(255, 255, 255, 0.5);

  font-family: Inter;
  font-size: 12.695px;
  font-style: normal;
}

.wcount {
  color: #c33d7b;

  font-family: Inter;
  font-size: 24px;
}

.live {
  font-size: 1rem;
  font-weight: 600;
}

.lcount {
  color: #47c97e;

  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
}

.rightSectionHeading {
  font-size: 1rem;
  font-weight: 600;
}

.categories {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  row-gap: 0.5rem;
  column-gap: 1rem;

  height: 10rem;
  padding-right: 1rem;
  overflow: auto;
}

.category {
  display: flex;
  align-items: row;
  justify-content: space-between;
  width: 100%;
}

.categoryName {
  color: rgba(255, 255, 255, 0.79);
  font-size: 0.9rem;
}

.categoryCount {
  font-size: 0.8rem;
}

/* Next Box */

.pageVisitsCount {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem 2rem;
  font-family: 'Inter', sans-serif;
  color: white;
  width: 100%;
}

.todayRegistered {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  font-family: 'Inter', sans-serif;
  color: white;
  width: 49%;
}

@media (max-width: 1120px) {
  .registrationCount {
    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .rightSectionHeading {
    font-size: 0.8rem;
  }

  .totalRegistered {
    font-size: 0.8rem;
  }

  .todayRegistered {
    margin-top: 1rem;

    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .pageVisitsCount {
    margin-top: 1rem;

    width: calc(100% - 4rem);
    padding: 1rem;
  }

  .pieContainer {
    max-width: 100vw;
    margin: 0 1rem;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

.usersContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  margin-top: 1rem;

  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.user {
  border-radius: 8px;
  font-size: 0.9rem;

  padding: 0.5rem 1rem;
}

.header {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
}

.welcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;

  background: #202224;
  margin-bottom: 1rem;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(900px);

  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;

  text-align: center;

  border-radius: 8px;
}

.image {
  width: 20rem;
  border-radius: 8px;
}

.districtsCount {
  display: flex;
  flex-direction: row;

  overflow: hidden;

  row-gap: 1rem;

  white-space: nowrap;

  margin-top: 1rem;
  padding-bottom: 1rem;
}

/* .scrollContainer {
  display: flex;
  column-gap: 0.5rem;
  animation: swipe 30s linear infinite backwards;
} */

.scrollContainerr {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.25rem;
  row-gap: 0.25rem;
  margin-top: 0;
}

.district {
  padding: 0.25rem 0.5rem;
  /* color: #1d1d1d; */

  background: rgba(255, 255, 255, 0.04);
  font-weight: 500;
  font-size: 0.8rem;
  border-radius: 8px;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.graphContainer {
  max-height: 25rem;
  max-width: 25rem;
  margin: auto;
  margin-top: 1rem;
  padding: 0 2rem;
  padding-top: 1rem;
}

.welcomeMessgae {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.25rem;
  color: #3bcf79;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.confetti {
  z-index: 75 !important;
  width: 100%;
  height: 100%;
}

.welcomeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  width: 25rem;
}

.userType {
  font-size: 1.25rem;
  font-weight: 400;
  color: #47c97e;
  margin-right: 0.5rem;
  padding: 0.35rem 0.95rem;
  border-radius: 8px;

  background-color: #1d332c;

  margin: auto;
}

.userName {
  font-size: 2rem;
  color: #fff;
}

.cuserName {
  font-size: 0.9rem;
  color: white;
}

.userEmail {
  color: #d2d4d7;
  font-size: 1rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .welcomeText {
    width: 100%;
  }

  .userType {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
  }

  .userName {
    font-size: 1.5rem;
  }

  .cuserName {
    font-size: 0.75rem;
  }

  .userEmail {
    font-size: 0.9rem;
  }

  .image {
    width: 15rem;
    border-radius: 8px;
  }
}

@media (max-width: 480px) {
  .welcomeText {
    width: 100%;
  }

  .userType {
    font-size: 0.9rem;
    padding: 0.2rem 0.6rem;
  }

  .image {
    width: 11rem;
    border-radius: 8px;
  }

  .userName {
    font-size: 1.25rem;
  }

  .cuserName {
    font-size: 0.6rem;
  }

  .userEmail {
    font-size: 0.8rem;
  }
}

.checkInHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.total span {
  font-size: 1rem;
  color: #47c97e;
  font-weight: 500;
}

.noData {
  opacity: 0.5;
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
}

.makemypassbranding {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  align-self: center;
  justify-self: center;
  width: fit-content;
  margin-top: 1rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.logoText {
  color: white;
  font-family: 'Aeonik';
  padding: 0.5rem;
  margin-left: -0.75rem;
  margin-bottom: 0rem;
}

.backgroundBrand {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px 12px 0 0;
  border: 1px solid #1b2725;
  background: #1b2725;
  border: 2px solid #4f5554;
  border-bottom: 0;

  box-shadow: 0px 0px 20px 20px #1b2725;
}

.backgroundBrand img {
  width: 5rem;
  margin-bottom: -0.5rem;
}
