.overViewContainer {
    width: 51.875rem;
    height: 20.5rem;
}

.tabsContainer {
    margin-top: 1rem;
}

.tabs ol {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 0.5rem;
}

.tab {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

