.mainLogo {
  display: flex;
  flex-direction: row;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;

  width: 100%;
  color: #a4a4a4;

  font-family: 'Inter', sans-serif;
  height: 5vh;
  margin-top: 1rem;
}

.headerComponent {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: 70rem;

  margin: auto;
}

.logo {
  margin-left: 0.5rem;
  font-family: 'Aeonik';
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.userName {
  font-size: 0.9rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

.avatar {
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: #57575c;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .headerComponent {
    justify-content: center;
    padding-bottom: 0;
  }
  .userName {
    font-size: 0.6rem;
  }
}

.loginButton {
  background-color: #7662fc;
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  font-family: 'Inter';
  border-radius: 8px;
}

.requestDemo {
  font-size: 0.9rem;
}

/* Settings CSS */

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.dropdownContent {
  position: absolute;
  top: 2.5rem;
  right: 0;

  background: #212729;
  color: white;
  min-width: 160px;
  z-index: 100;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  display: none;
  border-radius: 8px 0 8px 8px;
}

.link {
  padding: 12px 26px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  background: #212729;
}

.dropdownContent .link {
  transition: all 0.2s ease-in-out;
  border-radius: 0px 0 8px 8px;
}
.dropdownContent:hover .link {
  background-color: #2d3436;
  transform: scale(1.02);
}

.dropdown:hover .dropdownContent {
  display: block;
}
