.eventPartnersContainer {
  margin-top: 3rem;

  padding: 1rem;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.04);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.eventPartnersContainer:hover .eventPartners {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.eventPartners {
  display: inline-block;
  animation: 15s slide infinite linear;
}

.eventPartners img {
  height: 30px;
  margin: 0 30px;
}
