.ticketTypes {
  max-width: 30rem;
  width: 100%;
  margin: auto;
  position: relative;
}

.ticketTypesTitle {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.ticketType {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  max-width: 25rem;

  display: flex;
  flex-direction: row;
  padding: 2rem;

  flex-wrap: wrap;

  display: flex;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;

  position: relative;
}

.ticketTypeTitle {
  font-size: 1.5rem;
  font-weight: 600;
  color: #4eff99;
  line-height: 1.75rem;
  font-family: 'Inter', sans-serif;
}

.ticketTypeDescription {
  font-size: 0.8rem;
  max-width: 16rem;
  width: 100%;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
}

.ticketPrice {
  color: white;

  font-size: 1.25rem;
  height: 1rem;
  font-weight: 600;
  border-radius: 6px;
}

.passText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 0.25rem;
  justify-content: space-between;
  max-width: 25rem;
  width: 100%;
}

.perkList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.perk {
  font-size: 0.9rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.ticketPerksTitle {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.perks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 1rem;
  row-gap: 0.5rem;
  column-gap: 0.25rem;
}

.perks div {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: #47c97e;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
}

.formLabel {
  margin-top: 1rem;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.textarea {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: white;
}

.textarea:focus {
  border: none;
  outline: none;
}

.dropdown {
  max-width: 25rem;
}

.priceData {
  margin-top: 1.5rem;
}

.ticketPriceData {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  column-gap: 0.75rem;
}

.extraCharges {
  font-size: 0.8rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  text-align: right;
}

.discountAmount {
  font-size: 1.25rem;
  font-weight: 500;
  color: #46bf75;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  text-align: left;
}

.originalPrice {
  font-size: 0.8rem;
  font-weight: 400;
  color: #e67474;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: start;
  column-gap: 0.25rem;
  flex-wrap: wrap;
  max-width: 25rem;
  row-gap: 1rem;
  justify-content: flex-start;
}

.errorText {
  color: #f04b4b;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.eventDescription {
  font-size: 0.9rem;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
}

.discountText {
  font-size: 0.8rem;
  font-weight: 400;
  color: #46bf75;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.discountErrorText {
  font-size: 0.8rem;
  font-weight: 400;
  color: #f04b4b;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.cardText {
  font-size: 3rem;
  font-weight: 600;
  color: #1a2b26;
  font-family: 'Inter', sans-serif;
  opacity: 0.5;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

