.ticketTypes {
  width: 100%;
  margin: auto;
  position: relative;

  min-width: 20rem;
}

.ticketTypesTitle {
  margin: 0.75rem 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.ticketType {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  /* max-width: 25rem; */

  display: flex;
  flex-direction: row;
  padding: 2rem;

  flex-wrap: wrap;

  display: flex;

  margin: 1rem auto;

  color: white;
  font-family: 'Inter', sans-serif;

  position: relative;
  overflow: hidden;
}

.dateContainer {
  position: absolute;
  right: 30px;
  bottom: 24px;
}

.ticketTypeTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: #4eff99;
  line-height: 1.75rem;
  font-family: 'Inter', sans-serif;

  span {
    color: white;
    font-size: 0.8rem;
    opacity: 0.8;
    font-weight: 400;
  }
}

.ticketTypeDescription {
  font-size: 0.8rem;
  max-width: 16rem;
  width: 100%;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
}

.ticketPrice {
  color: white;

  font-size: 1.25rem;
  height: 1rem;
  font-weight: 600;
  border-radius: 6px;
}

.passText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 0.25rem;
  justify-content: space-between;
  max-width: 25rem;
  width: 100%;
}

.perkList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.perk {
  font-size: 0.9rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
}

.ticketPerksTitle {
  font-size: 1.15rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.perks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: 1rem;
  row-gap: 0.5rem;
  column-gap: 0.25rem;
}

.perks div {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: #47c97e;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
}

.formLabel {
  margin-top: 1rem;
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.textarea {
  margin-top: 0.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.75rem 0.75rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: white;
}

.textarea:focus {
  border: none;
  outline: none;
}

.dropdown {
  max-width: 25rem;
}

.priceData {
  margin-top: 1.5rem;
}

.ticketPriceData {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  column-gap: 0.75rem;
}

.extraCharges {
  font-size: 0.8rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
  margin-top: 0.25rem;
  text-align: left;
}

.discountAmount {
  font-size: 1.25rem;
  font-weight: 500;
  color: #46bf75;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  text-align: left;
}

.originalPrice {
  font-size: 0.8rem;
  font-weight: 400;
  color: #e67474;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.marketingOriginalPrice {
  font-size: 0.8rem;
  font-weight: 400;
  color: #e67474;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: start;
  column-gap: 0.25rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: flex-start;
}

.errorText {
  color: #f04b4b;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.eventDescription {
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
  font-weight: 400;
  color: #fff;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
}

.discountText {
  font-size: 0.8rem;
  font-weight: 400;
  color: #46bf75;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.discountErrorText {
  font-size: 0.8rem;
  font-weight: 400;
  color: #f04b4b;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.cardText {
  font-size: 3rem;
  font-weight: 600;
  color: #1a2b26;
  font-family: 'Inter', sans-serif;
  opacity: 0.5;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.ticketCountContainer {
  display: flex;
  flex-direction: column;

  position: absolute;

  right: 20px;
  top: 30px;
}

.capacity {
  font-size: 0.9rem;
  font-weight: 400;
  color: #bbbaba;
  margin-top: 0.5rem;
  text-align: right;
  font-family: 'Inter', sans-serif;
}

.ticketCount {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;

  width: 1.75rem;
  height: 1.4rem;

  background: rgba(255, 255, 255, 0.04);

  border-top: 1px solid rgba(255, 255, 255, 0.04);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticketCountUpdateButton {
  background: rgba(255, 255, 255, 0.04);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: 2.5rem;
  height: 1.5rem;

  border: 1px solid rgba(255, 255, 255, 0.04);
}

.borderClassWhite {
  border: 2px solid #ffffff;
}

.borderClassDefault {
  border: 2px solid #2a3533;
}

.borderClassGreen {
  border: 2px solid #46bf75;
}

.validateButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  font-size: 0.9rem;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
  width: 100%;
  margin-top: 0.5rem;
}

.supportText {
  font-size: 0.8rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  text-align: right;
}

.supportText span {
  color: #4eff99;
  opacity: 0.8;
}

.couponHeader {
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
  width: 100%;
}
.couponDescription {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.userCount {
  background: rgba(255, 255, 255, 0.04);
  color: #fff;
  position: absolute;
  font-size: 0.9rem;
  top: 11px;
  left: -25px;
  padding: 0.25rem 1.25rem;
  transform: rotate(-45deg);
}

.multiTicketMessage {
  font-size: 0.8rem;
  font-weight: 400;
  color: #4eff98be;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  text-align: left;
  /* max-width: 20rem; */
}

.claimCodeExccededMessage {
  font-size: 1rem;
  font-weight: 400;
  color: #bbbaba;
  font-family: 'Inter', sans-serif;
  text-align: left;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1rem;

  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 0.5rem;

  span {
    font-size: 0.9rem;
    color: white;
  }
}
