.viewGuestsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: #1b2725;
  padding: 1rem;

  margin-bottom: 1rem;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(800px);

  max-width: 30rem;

  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;

  text-align: left;

  padding: 2rem;
}

@media (max-width: 550px) {
  .viewGuestsContainer {
    margin: 1rem;
    top: 55px;
  }
}

.viewGuests {
  margin-top: 1rem;
}

.topSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  column-gap: 1rem;
}

.tsRow2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.name {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.25rem;
  align-items: center;
  margin-bottom: 0.25rem;
}

.emailAddress,
.ticketCode {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #d2d4d7;
}

.ticketCode {
  white-space: wrap;
  max-width: 25rem;
  word-wrap: break-word;
  margin-top: 0.5rem;
  span {
    color: #47c97e;
  }
}

.type {
  border-radius: 100px;
  background: rgba(148, 164, 7, 0.13);
  color: #fbd85b;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-left: 0.15rem;
  white-space: nowrap;
}

.fieldData {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #d2d4d7;
}

.fieldLabel {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fdfdfd;
}

.bottomSection {
  border-top: 1px solid rgba(255, 255, 255, 0.04);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 20rem;
}

.dropDownMessage {
  margin-top: 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  color: #47c97e;
}

.field {
  margin-top: 1rem;
  min-width: 8rem;
}

.line {
  margin-top: 1rem;
  width: 100%;
  color: #a4a4a4;
  opacity: 0.1;
}

.closeButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s;
}

.guestActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  flex-wrap: wrap;

  row-gap: 0.5rem;
}

.rowType {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: #47c97e;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  margin-left: 0.15rem;
}

.confirmButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  column-gap: 1rem;
}

.alertText {
  color: #ff4d4f;
  font-size: 0.8rem;
  font-weight: 400;
  max-width: 10rem;
  text-align: left;
}

.guestActionButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 0.75rem;
  column-gap: 0.5rem;
  max-width: 18rem;
  align-items: center;
}

.topLayer {
  z-index: 101;
}

.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  column-gap: 0.25rem;
  cursor: pointer;
}
.deleteIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;

  font-size: 0.75rem;
  margin-top: 1rem;
  color: #d2d2d2;
  cursor: pointer;
}
.guestActionButtons span {
  font-size: 0.68rem;
  font-weight: 400;
  color: #d2d4d7;
  cursor: pointer;
  transition: 0.3s;
}

.invitedBy {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0rem;
  margin-bottom: -1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.invitedBy p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

.deleteModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  row-gap: 1rem;
}

.deleteModalButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: end;
  column-gap: 1rem;
  margin-top: 1rem;
}

.visitedVenues {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1rem;
  row-gap: 0.5rem;
  width: 100%;
}

.venue {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.venueName {
  color: #47c97e;
}

.venueTime {
  font-size: 0.9rem;
  margin-left: 0.25rem;
}
