.ticketDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 80vh;
}

.ticketImage {
  border-radius: 40px;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  object-fit: contain;
  padding: 2rem;
}

.noTicketFound {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
