.ticketDisplayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 80vh;
}

.ticketImage {
  border-radius: 40px;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
  object-fit: contain;
  padding: 2rem;
}
