.subEvents {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 1330px) {
  .mainContainer {
    padding: 0 1.25rem;
  }
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.deleteIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  opacity: 0.7;
}

.eventCard {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  max-width: 20rem;
  min-width: 20rem;
  min-height: 12rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: white;
}

.eventCard:hover {
  background: rgba(255, 255, 255, 0.08);
}

.innerCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1rem;
}

.eventDetails {
  width: 100%;
}

.eventTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  max-width: 26rem;
  font-family: 'Inter', sans-serif;
}

.cardPrimaryButton {
  border-radius: 8px;
  background: white;
  border: none;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  left: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.cardSecondaryButton {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  left: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.eventTime {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.eventDate {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 0.5rem;
}

.subEventHeading {
  font-size: 1.25rem;
  font-weight: 500;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.25rem;
}

.helperText {
  font-size: 0.875rem;
  color: #9ca3af;
  font-family: 'Inter', sans-serif;
  margin-bottom: 2rem;
}

.headerRow {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.modalContent {
  width: 100%;
}

.submitButton,
.deleteButton {
  background: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #000;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.deleteConfirmationText {
  font-size: 0.9rem;
  color: #d7d7d7;
  font-family: 'Inter', sans-serif;
  margin-bottom: 1rem;
}

.deleteConfirmationButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.cancelButton {
  background: rgba(255, 255, 255, 0.08);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.subEventDescription {
  font-size: 0.9rem;
  color: #d7d7d7;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  resize: none;
  font-weight: bold;
  margin-top: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #d7d7d7;
  opacity: 0.8;
  outline: none;
  padding: 1rem 0;
  width: 100%;
  height: 100%;
  max-height: 8rem;
  overflow: hidden;
  text-align: left;

  margin-bottom: 1rem;
}

.label {
  color: #a4a4a4;
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 0.5rem;
  font-family: 'Inter', sans-serif;
}

.ticketSlider {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
  font-size: 0.9rem;
  color: #f3f3f3;
  max-width: 20rem;
  margin-bottom: 0.5rem;
}

.ticketCapacityContainer {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: #d7d7d7;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 20rem;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.ticketCapacityInput {
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #d7d7d7;
  outline: none;
  padding: 0.5rem;
  max-width: 11rem;
  border: none;
  border-radius: 8px;
  resize: none;
  opacity: 0.8;
  text-align: left;
}
