.checkInsContainer {
    padding: 0 1.25rem;

    margin-bottom: 2rem;
}

.checkInsHeading {
    margin-top: 2rem;
    color: #fff;

    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    width: 30rem;
    margin: auto;
    margin-top: 2rem;

    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}

.line {
    margin-top: 1rem;
    width: 100%;
    color: #a4a4a4;
    opacity: 0.1;
}

/* Table Styles */

.recentRegistrations {
    margin-top: 1rem;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.tableHeading {
    color: #fff;

    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 600;

    width: 12rem;
}

.tableHeading span {
    color: #d2d4d7;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 1rem;
}

.tableContainer {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.04);
    margin-top: 1rem;

    padding: 1rem;

    /* width: 51.875rem; */
    overflow: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.rowData {
    display: flex;
    align-items: center;
}

.rowName {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
}

.rowEmail {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    margin-left: 0.35rem;
}

.rowType {
    border-radius: 100px;
    background: rgba(7, 164, 96, 0.13);
    color: #47c97e;
    font-family: "Inter", sans-serif;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-left: 0.15rem;
}

.rowDate {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 0.35rem;
}

@media screen and (max-width: 768px) {
    .tableContainer {
        width: 21rem;
        overflow: auto;
    }

    .table {
        width: 40rem;
    }
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    width: 100%;
    height: 70vh;
    margin-bottom: 3rem;
}
