.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  margin: auto;
  overflow: hidden;

  height: 100%;
}

.eventsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  row-gap: 1rem;
  column-gap: 1rem;
}

.event {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.date {
  font-size: 1.25rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.day {
  margin-top: 0.7rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #a4a4a4;
  font-family: 'Inter', sans-serif;
  width: 4rem;
}

.homeHeader {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.noEventsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.noEvents {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  max-width: 25rem;
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

.eventCard {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);

  max-width: 20rem;
  min-width: 20rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;

  position: relative;
}

.eventCard:hover {
  background: rgba(255, 255, 255, 0.08);
}

@media (min-width: 1200px) {
  .eventCard {
    max-width: 22rem;
    min-width: 22rem;
  }
}

.innerCard {
  display: flex;
  flex-direction: row;

  align-items: flex-start;

  column-gap: 1rem;
}

.eventDetails {
  width: 100%;
}

.eventDetailsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.eventImage {
  max-width: 6.75rem;
  width: 100%;
  height: 6.75rem;
  border-radius: 8px;

  background-color: #2e3334;
  font-family: 'Inter', sans-serif;
  display: flex;
  color: #a4a4a4;
  font-size: 3rem;
  justify-content: center;
  align-items: center;

  object-fit: contain;
}

.eventName {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.eventGuests {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 400;
  color: #a4a4a4;
  font-family: 'Inter', sans-serif;

  position: absolute;
  bottom: 1.25rem;
  right: 1rem;
}

.eventGuests span {
  margin-right: 0.5rem;
}

.manage {
  width: 6rem;
  border-radius: 8px;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #a4a4a4;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  column-gap: 0.25rem;

  position: absolute;
  bottom: 1.25rem;
}

.date {
  font-weight: 200;
  opacity: 0.9;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

.absoluteButtons {
  position: absolute;
  right: 1rem;
  top: 1rem;

  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 720px) {
  .slider {
    display: none;
  }

  .event {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    row-gap: 0;
  }

  .day {
    margin-top: 0;
  }
}

/* Menu Styles */

.rightClickMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.rightClickMenu li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.rightClickMenu li:hover {
  opacity: 1;
  background: rgba(255, 255, 255, 0.08);
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 1.25rem;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.15rem;
  margin-top: 0.5rem;
}

.modalSubText {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  max-width: 20rem;
}
