.footerContainer {
  margin: auto;
  max-width: 73rem;
  display: flex;
  flex-direction: column;
  justify-content: end;

  width: 100%;
}

.footerContainer hr {
  color: #a4a4a4;
  opacity: 0.1;
}

.socialIcons {
  margin: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: end;

  column-gap: 0.5rem;
}

.tpclogo {
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
}
