.themeContainer {
  min-height: 100vh;

  background: #131517;

  display: flex;
  flex-direction: column;
}

.themeContainer::before,
.themeContainer::after {
  content: '';

  filter: blur(144.6999969482422px);

  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
}

.themeContainer::before {
  opacity: 0.5;
  background: radial-gradient(50% 50% at 0% 0%, #7662fc 0%, rgba(118, 98, 252, 0) 100%);
}

.themeContainer::after {
  background: radial-gradient(100% 100% at 0% 80%, #01f77e 0%, rgba(118, 98, 252, 0) 100%);

  opacity: 0.1;
}

.childrenContainer {
  width: 100%;
  max-width: 80rem;
  margin: auto;
  margin-top: 8vh;
  overflow: auto;
  z-index: 1;
}
