.scanContainer {
    padding: 0 1.25rem;
}

.line {
    margin-top: 1rem;
    width: 100%;
    color: #a4a4a4;
    opacity: 0.1;
}

.scannerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: "Inter";

    margin-top: 2rem;
}

.scannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 45vh; */
    text-align: center;
}

.scanHeader {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.camerabox {
    width: 4rem;
    height: 4.25rem;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16.4px;
    background: rgba(91, 117, 251, 0.13);
}

.alertHeading {
    margin-top: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.alertText {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
    opacity: 0.75;
}

.scannerOuterContainer {
    max-width: 30rem;
    width: 90%;
    background-color: #000;
    border-radius: 0.5rem;
    border-bottom: 2px solid #47c97e;
}

.scanner {
    width: 17rem;
    height: 17rem;

    display: block;
    margin: auto;
}

.sucessContainer {
    margin-top: 2rem;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.04);
    padding: 1rem;
}

.scannerHeader {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #47c97e;
}

.alertTexts {
    padding: 1rem;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.inputText {
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: white;
    opacity: 0.75;
}

.input {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.04);
    background: rgba(255, 255, 255, 0.04);
    border: none;
    padding: 0.75rem 1.75rem;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
