@media screen and (max-width: 1330px) {
  .eventHeaderContainer {
    padding: 0 1.25rem;
  }
}

.modalDescription {
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  color: #c5c5c5;
  text-align: left;
}

.formContainer {
  width: 100%;
}

.dateHeader {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.timeHeader {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #c5c5c5;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.eventsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  position: relative;
}

.eventCard {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  max-width: 20rem;
  min-width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  color: white;
}

.eventCard:hover {
  background: rgba(255, 255, 255, 0.08);
}

.selectedCard {
  border: 2px solid #fff;
}

.disabledCard {
  opacity: 0.6;
}

.innerCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1rem;
}

.eventDetails {
  width: 100%;
}

.eventTitle {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  max-width: 26rem;
  font-family: 'Inter', sans-serif;
}

.cardPrimaryButton {
  border-radius: 8px;
  background: white;
  border: none;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  left: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.manage {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  border: none;
  color: #a4a4a4;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  left: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.manage:hover {
  background: rgba(255, 255, 255, 0.12);
}

.registedTag {
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  background: #fff;
  padding: 0.25rem 1.5rem;
  position: absolute;
  top: 6px;
  right: -29px;
  transform: rotate(45deg); /* Rotate the element */
}

.conflictingMessage {
  margin-top: 0.5rem;
  color: #f04b4b;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
}

.alertMessage {
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  margin-top: 0.5rem;
  color: #fff;
  opacity: 0.8;
  max-width: 25rem;
  text-align: center;
  margin-top: 0.5rem;
}

.submitButton {
  border-radius: 8px;
  background: white;
  border: none;
  color: #000;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background 0.2s ease-in-out;
}

.eventListingNavbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (max-width: 1330px) {
  .eventListingNavbar {
    padding: 0 1.25rem;
  }
}

@media screen and (max-width: 768px) {
  .eventListingNavbar {
    display: none;
  }
}

.mobileButton {
  display: block;
  padding: 0 1.25rem;
}

@media screen and (min-width: 768px) {
  .mobileButton {
    display: none;
  }
}

.confirmButton,
.confirmButtonMobile {
  background: #fff;
  font-size: 0.9rem;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.confirmButtonMobile {
  width: 100%;
}

.eventSmallBoxContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
}

.selectedEventsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.selectedEvent {
  background: rgba(255, 255, 255, 0.08);
  font-family: 'Inter', sans-serif;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  color: white;
}
