.createEventContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
  color: #d7d7d7;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.leftSideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-width: 49%;
  width: 100%;
}

.eventNameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 35rem;
}

.rightSideContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  max-width: 48%;
  width: 100%;
}

@media (max-width: 1086px) {
  .leftSideContainer {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .rightSideContainer {
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: 36rem;
  }
}

.bannerContainer,
.descriptionContainer {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem;

  max-width: 35rem;
  width: 100%;

  position: relative;
}

.banner {
  max-width: 35rem;
  width: 100%;
  border-radius: 7px;
  fill: #d8ffff11;
}

.descriptionContainer {
  padding: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  height: 50rem;
}

@media screen and (max-width: 1085px) {
  .descriptionContainer {
    height: auto;
  }
}

.eventHeading {
  font-size: 0.9rem;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.description {
  font-size: 0.9rem;
  padding: 1rem 2rem;

  font-weight: 400;
  opacity: 0.8;
  line-height: 1.5;
}

.inputEventName {
  vertical-align: middle;
  padding-top: 0.5rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  background: transparent;
  color: #d7d7d7;
  font-family: 'Inter';
  font-size: 2.25rem;
  font-weight: 600;
  overflow-wrap: break-word;
  word-break: break-word;
  resize: none;
  margin-bottom: 1rem;
}

.inputEventName:focus {
  outline: none;
}

.urlContainer {
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
}

.urlContainer label {
  width: auto;
  white-space: nowrap;
}

.urlInput {
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  width: 60%;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
}

.dateTimeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  padding: 0.5rem;

  max-width: 25rem;
  width: 95%;

  margin-bottom: 0.5rem;
}

.dateTimeContainer label {
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.dateTimeContainer div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 0.5rem;
}

.dateTimeParentContainer {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.dateInput {
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
}

.eventLocation {
  padding: 0.5rem;
  border-radius: 0 0 8px 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: row;

  align-items: flex-start;

  column-gap: 0.5rem;
  padding: 1rem;
}

.inputLocation {
  border-radius: 8px;
  border: none;
  width: 100%;
  background-color: transparent;
  color: #d7d7d7;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
}

.inputLocation::placeholder {
  color: #d7d7d7;
}

.locationContainer {
  width: 100%;
}

.subText {
  margin-top: 0.25rem;
  font-size: 0.8rem;
  font-weight: 400;
  opacity: 0.8;
  line-height: 1.5;
}

.eventOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;

  margin: 0.75rem 0;

  color: #d7d7d7;
}

.optionsContainer {
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 0.5rem;

  row-gap: 0.5rem;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;

  border-radius: 8px;
  background: transparent;
}

.optionSelect {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95%;
  border-radius: 8px;
  background: transparent;
  margin-top: 0.5rem;

  .label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    opacity: 0.9;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.option label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  opacity: 0.9;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.subOption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-radius: 8px;
  background: transparent;
}

.subOption label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.capcityInput {
  width: fit-content;
  text-align: right;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  background: transparent;
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
}

.capcityInput::placeholder {
  color: #d7d7d7;
}

input[type='color'] {
  border-radius: 5px;
}

input[type='color']::-moz-color-swatch {
  border: none;
  border-radius: 8px;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
  border-radius: 8px;
}

input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 8px;
}

.createButton {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.createButton:hover {
  transform: scale(1.05);
}

.deleteButton {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: #d11a29ba;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: auto;
}

.deleteButton:hover {
  transform: scale(1.05);
}

.timezoneContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  margin: 0.75rem 0;

  color: #d7d7d7;

  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

@media screen and (max-width: 768px) {
  .timezoneContainer {
    flex-wrap: wrap-reverse;
  }
}

.timezone {
  max-width: 10rem;
  width: 100%;
  line-height: 1.75;
  padding: 1rem 0.75rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .timezone {
    padding-left: 1.5rem;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

.svgText {
  color: #fff;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;

  position: relative;
}

@media screen and (max-width: 435px) {
  .svgText {
    transform: translateX(-2rem);
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 1rem;
}

.uploadLogoContainerParent {
  display: flex;
  align-items: center;
}

.uploadLogoContainer {
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  margin-bottom: 1rem;
  width: 50%;
}

.fileUpload {
  opacity: 0;

  /* IE 8 */
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape or and older firefox browsers */
  -moz-opacity: 0;

  /* older Safari browsers */
  -khtml-opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.pencil {
  margin-left: auto;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.uploadLogoContainer:hover > .pencil {
  transform: scale(1.1);
}

.uploadLogo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.uploadLogo p {
  font-size: 0.8rem;
  color: #d7d7d7a5;
}

.logoName {
  color: #d7d7d7 !important;
  width: 100%;
  word-break: break-all;
}

.noImage {
  width: 25px;
  height: 25px;
  background-color: #d7d7d72a;
  border-radius: 2px;
  margin-right: 0.5rem;
}

.selectDropdown {
  width: 10rem;
  margin: 0.1rem 0;
  margin-bottom: 1rem;
}

/* CSS Styles for Modal */

.modalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.modalHeader {
  font-weight: 600;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  align-self: flex-start;
  margin-bottom: 3rem;
}

.modalButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0rem;
  width: 100%;
}

.modalButton {
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.modalButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 25px;
  height: 25px;
  transition: all 0.2s ease-in-out;
  scale: 1.2;
}

.closeIcon:hover {
  transform: scale(1.25);
}

.uploadLogoContainerParent > .closeIcon {
  position: relative;
  top: 0;
  right: 0;
  scale: 1;
  margin-left: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
}

.uploadLogoContainerParent > .closeIcon:hover {
  transform: scale(1.05);
}

.settingsButton {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0);
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #d2d4d7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.settingsButton:hover {
  text-decoration: underline;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 1px;
}

.continueButton {
  width: 100%;
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}

.followupMessageContainer {
  margin-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  color: #d2d4d7;
  width: 100%;
  text-align: left;
}

.followupMessage {
  font-size: 0.9rem;
  color: #d7d7d7;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.04);
  color: #d7d7d7;
  resize: none;
  font-weight: bold;
  margin-top: 0.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #d7d7d7;
  opacity: 0.8;
  outline: none;
  padding: 1rem 0;
  width: 100%;
  max-height: 4rem;
  overflow: hidden;
}

.advancedModalContainer {
  padding: 0 0.5rem;
}
