.receiptContainer {
  width: 100%;
  position: relative;
  min-width: 20rem;
  max-width: 30rem;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.receiptItem {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.receiptItem:last-child {
  border-bottom: none;
}

.receiptItemName {
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  flex-grow: 1;
}

.receiptItemName span {
  font-size: 0.8rem;
  color: #4eff99;
  margin-left: 0.25rem;
  text-align: right;
}

.receiptItemPrice {
  font-size: 0.9rem;
  font-weight: 400;
  color: #bbbaba;
  margin-left: 1rem;
  text-align: right;
}

.receiptItemPrice:last-child {
  font-weight: 500;
  color: #fff;
}

.totalPrice {
  margin-top: 1rem;
}

.totalPrice p {
  font-size: 0.9rem;
  font-weight: 500;
  color: #4eff99;
  text-align: right;
}
