.tableOuterContainer {
  margin-top: 1rem;
}

.tableHeader {
  flex-wrap: wrap;
  row-gap: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tableHeading {
  color: #fff;

  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;
}

.tableHeading span {
  color: #d2d4d7;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
}

.tableContainer {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  margin-top: 1rem;

  padding: 1rem;

  /* width: 51.875rem; */
  max-height: 60vh;
  overflow: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0.5rem 0;
}

.row span {
  margin-right: 0.25rem;
}

.tableRowData .row {
  margin-left: 1rem;
}

.tableRowData .row:first-child {
  margin-left: 0;
}

.tableRowData .row:first-child span {
  display: none;
}

.tableRowData .row:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.rowData {
  display: flex;
  align-items: center;
}

.rowName {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin-right: 0.25rem;
  white-space: nowrap;
}

.rowEmail {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  margin-left: 0.35rem;
}

.rowType {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: #47c97e;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  margin-left: 0.15rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
}

.rowDate {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  margin-left: 0.35rem;
}

@media screen and (max-width: 768px) {
  .tableContainer {
    overflow: auto;
  }

  .table {
    width: 40rem;
  }
}

.icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

table {
  text-align: left;
  width: 100%;
}

td {
  font-family: 'Inter', sans-serif;
  opacity: 0.5;
  font-size: 0.9rem;
  margin-top: 1rem;
  overflow: hidden;
}

th {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 1rem;
  opacity: 0.8;
  font-weight: 600;
}

/* Path: src/components/Table/Table.js */
