.scanContainer {
  padding: 0 1.25rem;
}

@media (max-width: 1150px) {
  .scanContainer {
    padding-left: 1.25rem;
  }
}

.line {
  margin-top: 1rem;
  width: 100%;
  color: #a4a4a4;
  opacity: 0.1;
}

.blur {
  box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 1);
  text-shadow: 0px 0px 10px rgba(51, 51, 51, 0.9);
  transform: scale(0.9);
  opacity: 0.6;
}

.scannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Inter';

  margin-top: 2rem;

  position: relative;
}

.scanHeader {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.camerabox {
  width: 4rem;
  height: 4.25rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16.4px;
  background: rgba(91, 117, 251, 0.13);
}

.alertHeading {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.alertText {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: white;
  opacity: 0.75;
}

.scannerOuterContainer {
  max-width: 30rem;
  width: 90%;
  background-color: #000;
  border-radius: 0.5rem;
  border-bottom: 2px solid #47c97e;
  position: relative;
}

.scanner {
  width: 17rem;
  height: 17rem;

  display: block;
  margin: auto;
}

.sucessContainer {
  margin-top: 2rem;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem;
}

.scannerHeader {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #47c97e;
}

.alertTexts {
  padding: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.inputText {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: white;
  opacity: 0.75;
}

.input {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  border: none;
  padding: 0.75rem 1.75rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.scanCount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.5rem;
  z-index: 2;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;

  &:hover {
    color: #47c97e;
  }
}

.modalHeader {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0.5rem;
}

.modalSubText {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  /* margin-top: 0.25rem; */
  margin-bottom: 1rem;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

/* Table Styles */

.tableOuterContainer {
  margin-top: 1rem;
  padding: 1rem;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.tableHeading {
  color: #fff;

  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 600;

  width: 12rem;
}

.tableHeading span {
  color: #d2d4d7;
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 1rem;
}

.tableContainer {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  margin-top: 1rem;

  padding: 1rem;

  /* width: 51.875rem; */
  overflow: auto;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 98% !important;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

.rowData {
  display: flex;
  align-items: center;
  color: white;
  column-gap: 0.5rem;
}

.giftName {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
}

.date {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
}

.claimedBy {
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  color: #d2d4d7;
}

.status {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;

  padding: 0.5rem 0.75rem;

  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .tableContainer {
    overflow: auto;
  }

  .table {
    width: 40rem;
  }
}

.icon {
  margin-left: 0.5rem;
  cursor: pointer;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0;
}

.button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.scannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Inter';

  margin-top: 2rem;

  position: relative;
}

.scanHeader {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.scanContainer {
  padding: 0 1.25rem;
}

.line {
  margin-top: 1rem;
  width: 100%;
  color: #a4a4a4;
  opacity: 0.1;
}

.scanButton {
  max-width: 15rem;
  margin: auto;
  margin-top: 2rem;
}

.noDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.noDataText {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  color: #d2d4d7;
  margin-top: 1rem;
}