.bulkUploadContainer {
  width: 100%;
}

.uploadFileButton {
  padding: 0.5rem 1rem;
  border: 1.5px solid rgba(255, 255, 255, 0.18);
  border-radius: 4px;
  background: rgb(37, 37, 37, 0.9);
  color: #fff;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  width: 100%;
}

.sectionHeader {
  text-align: left;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.05rem;
  font-weight: 500;
  width: 100%;
}

.logsListingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;

  max-height: 20rem;
  overflow: auto;
}

.selectTicket {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.log {
  width: calc(100% - 4.2rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.04);
  text-align: left;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.75rem;
}

.logName {
  font-size: 0.9rem;
  text-align: left;
  margin-bottom: 0.25rem;
  font-weight: 400;
}

.logDate {
  font-size: 0.85rem;
  caret-color: #939597;
}

.logUploadCount {
  font-size: 0.9rem;
  font-weight: 400;
  color: #939597;
}

.downloadTemplate {
  font-size: 0.8rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #7f7f7f;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.logStatus {
  border-radius: 100px;
  background: rgba(7, 164, 96, 0.13);
  color: #47c97e;
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  margin-left: 0.15rem;
  text-align: center;
  padding: 0.25rem 0.5rem;
}

.uploadButton {
  width: 100%;
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}

.reportIcon {
  cursor: pointer;
}

.line {
  margin: auto;
  width: 100%;
  height: 2px;
  background: #a4a4a4;
  opacity: 0.1;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.fileInput {
  margin-top: 0.25rem;
  border-radius: 4px;
  border: none;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.04);
  width: 95%;
  display: flex;
  font-family: 'Inter', sans-serif;
  color: #a4a4a4;
}

.fileInput::file-selector-button {
  font-family: 'Inter', sans-serif;
  margin-right: 20px;
  border: none;
  padding: 10px 20px;

  border-radius: 10px;
  color: #a4a4a487;
  background: rgba(255, 255, 255, 0.04);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.fileInput::file-selector-button:hover {
  color: #a4a4a4;
  background: rgba(255, 255, 255, 0.08);
}

.noLogs {
  font-size: 0.9rem;
  color: #a4a4a4;
  text-align: center;
  margin-bottom: 1rem;
}

.fileStatus {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.7rem;
  font-size: 0.9rem;
}

.success {
  color: #47c97e;
}

.error {
  color: #fc6568;
}

.total {
  font-size: 0.9rem;
  font-weight: 400;
  color: #939597;
}

.deleteText {
  font-size: 0.95rem;
  color: #a4a4a4;
  text-align: center;
}

.noLogsText {
  font-size: 0.95rem;
  color: #a4a4a4;
  text-align: left;
}

.deleteButton {
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;

  max-width: 10rem;
  margin-right: 1rem;
}

.cancelButton {
  text-align: center;
  background: rgba(253, 253, 253, 0.1);
  color: #fdfdfd;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;

  max-width: 10rem;
}
