.createButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  column-gap: 0.5rem;
}

.sectionHeader {
  text-align: left;
  font-size: 1.05rem;
  font-weight: 500;
  width: 100%;
}

.headerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  margin-top: 0.5rem;
  width: 100%;
}

.createContainer {
  width: 100%;
}

.log {
  width: calc(100% - 4.2rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: last baseline;
  padding: 1rem 2rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  text-align: left;
  border: 1.5px solid rgba(255, 255, 255, 0.08);
  color: #fff;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.75rem;
}

.logDetails {
  display: flex;
  align-items: last baseline;
  column-gap: 0.5rem;
  justify-content: space-between;
  flex-direction: row;
  row-gap: 0.5rem;
  width: 100%;
}

.uploadButton {
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;

  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}

.reportIcon {
  cursor: pointer;
}

.line {
  margin: auto;
  width: 100%;
  height: 2px;
  background: #a4a4a4;
  opacity: 0.1;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.total {
  font-size: 0.9rem;
  font-weight: 400;
  color: #939597;
}

.noLogsText {
  font-size: 0.95rem;
  color: #a4a4a4;
  text-align: left;
}

.deleteButton {
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;

  max-width: 10rem;
  margin-right: 1rem;
}

.cancelButton {
  text-align: center;
  background: rgba(253, 253, 253, 0.1);
  color: #fdfdfd;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;

  max-width: 10rem;
}
