* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  @-moz-document url-prefix() {
    scrollbar-width: thin;
    scrollbar-color: #282828 #333333;
  }
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  /* Add this line */
  margin: 1rem;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #282828;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #333333;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(70, 70, 70);
}

/* Firefox scrollbar */

::-moz-scrollbar {
  width: 5px;
  height: 5px;
  margin: 1rem;
  border-radius: 8px;
}

::-moz-scrollbar-track {
  background: #333333;
  padding: 1px;
}

::-moz-scrollbar-thumb {
  background: #282828;
}

::-moz-scrollbar-thumb:hover {
  background: #3b3b3b;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

@font-face {
  font-family: 'CooperLight';
  src: url(../src/fonts/CooperLight.ttf);
}

@font-face {
  font-family: 'Aeonik';
  src: url(../src/fonts/Aeonik.otf);
}

iframe {
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.centerItem {
  width: 100%;
  display: block;
  margin: auto;
}
