* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* Add this line */
  margin: 1rem;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #333333;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: #121212;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3b3b;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}
