.multipleTicketsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25rem;
  max-height: 25rem;
  overflow: auto;
}
.modalSubText {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.modalButton {
  width: 100%;
  text-align: center;
  background: #fdfdfd;
  color: rgb(43, 42, 42);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}
