.modalButtons{
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.sectionContent1{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
} 

.cancelButton {
  margin-top: 1rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #d2d4d7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.cancelButton:hover {
  background: rgba(255, 255, 255, 0.08);
} 

.confirmButton {
  margin-top: 1rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #d2d4d7;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.confirmButton:hover {
  background: rgba(255, 255, 255, 0.08);
}