.spinWheelContainer {
  width: 100%;
  /* height: 50vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.outerContainer {
  padding: 0 1.25rem;
  padding-left: 0;
}

.messageText {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.spinButton {
  margin-top: 1rem;
  max-width: 30rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  width: 100%;
  height: 70vh;
  margin-bottom: 3rem;
}

/* Scanner Styles */

.scannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-family: 'Inter';

  margin-top: 2rem;

  position: relative;

  width: 100%;
  max-width: 30rem;
}

.scanHeader {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.camerabox {
  width: 4rem;
  height: 4.25rem;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16.4px;
  background: rgba(91, 117, 251, 0.13);
}

.alertHeading {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.alertText {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: white;
  opacity: 0.75;
}

.scannerOuterContainer {
  max-width: 30rem;
  width: 90%;
  background-color: #000;
  border-radius: 0.5rem;
  border-bottom: 2px solid #47c97e;
  position: relative;
}

.scanner {
  width: 17rem;
  height: 17rem;

  display: block;
  margin: auto;
}

.sucessContainer {
  margin-top: 2rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  padding: 1rem;
}

.scannerHeader {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #47c97e;
}

.alertTexts {
  padding: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.inputText {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: white;
  opacity: 0.75;
}

.input {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.04);
  border: none;
  padding: 0.75rem 1.75rem;
  color: white;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.scanCount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.5rem;
  z-index: 2;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;

  display: flex;
  column-gap: 0.5rem;
  z-index: 2;

  &:hover {
    color: #47c97e;
  }
}

.welcomeMessgae {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 2.25rem;
  color: #3bcf79;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 600;
}

.backgroundBlur {
  backdrop-filter: blur(3px);
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

.confetti {
  z-index: 75 !important;
}

.congratzContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  border: none;

  background: #202224;
  margin-bottom: 1rem;
  position: absolute;
  z-index: 100;
  backdrop-filter: blur(900px);

  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: white;

  text-align: center;

  border-radius: 8px;
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;

  width: 25rem;
}

.userType {
  font-size: 1.25rem;
  font-weight: 400;
  color: #47c97e;
  margin-right: 0.5rem;
  padding: 0.35rem 0.95rem;
  border-radius: 8px;
  width: 6rem;

  margin: auto;
}

.image {
  width: 18rem;
  border-radius: 8px;
}

.youWon {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.prize {
  font-size: 1.25rem;
  margin-top: -0.5rem;
  color: #47c97e;
  font-weight: 500;
}
