.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
}

.wheelContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clickHeading {
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 67vh;
  padding: 1rem;
}

.ctaText {
  color: #4eff99;
  font-size: 4rem;

  font-weight: 600;
  text-align: right;

  span {
    color: #ffffff;
  }
}

.ctaSubText {
  color: #ffffff;
  font-size: 1.1rem;
  text-align: right;
}

@media screen and (max-width: 835px) {
  .ctaText {
    font-size: 2rem;
    text-align: center;
  }
}

.tickachuImage {
  margin-top: 2rem;
  max-width: 15rem;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 835px) {
  .tickachuImage {
    margin-top: 0;
    max-width: 10rem;
  }
}

@media screen and (max-width: 768px) {
  .clickHeading {
    font-size: 4rem;
  }
}

.spinButtons {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.spinButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff99;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.spinButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.prizePopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.closeButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff99;
  font-family: 'Inter', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease-in-out;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.spinButtonWheel {
  position: absolute;
  z-index: 999;
  top: 50%;
  padding: 1.2rem 1.1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.spinButtonWheel:hover {
  cursor: pointer;
  padding: 1.7rem 1.6rem;
  font-size: large;
}

.prizeModalHeader {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.textsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem;
}

@media screen and (max-width: 473px) {
  .textsContainer {
    justify-content: center;
    align-items: center;
  }
}
