.progresBarGraph {
  display: flex;
  /* width: 30rem; */
  height: 0.5em;
  margin-top: 1rem;
}

.glanceHeader,
.guests {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  margin-top: 1rem;
  display: flex;

  align-items: center;
}

.popper {
  font-size: 1.25rem;
}

.guestsCount {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.glanceHeader {
  margin-top: 0;
}

.guests span {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  font-family: 'Inter', sans-serif;
  color: #47c97e;
}

.progressBar {
  /* margin-top: 1rem; */
  width: 30rem;
  height: 0.5em;
}

.progressLabel {
  display: flex;
  flex-direction: row;
  list-style-type: disc;
  font-size: 0.9rem;
  /* margin-top: 1rem; */
  font-family: 'Inter', sans-serif;
}

.progressLabels ul {
  display: flex;
  flex-direction: row;
  list-style-type: disc;
  margin: 0;
  padding: 0;
  column-gap: 0.5rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .dataCount {
    font-size: 0.65rem;
  }

  .glanceHeader,
  .guests {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 496px) {
  .glanceHeader,
  .guests {
    font-size: 1rem;
  }

  .guests span {
    font-size: 0.8rem;
  }
}

/* Tabs Container */

.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  margin: auto;
  padding: 0 1rem;

  width: 100%;
  max-width: 80rem;
}

.overViewContainer {
  /* height: 20.5rem; */
  min-width: 20rem;
  width: 100%;
  /* padding: 2rem; */
}

.tabsContainer {
  margin-top: 1rem;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 0.5rem;

  overflow: auto;
  padding-bottom: 1rem;
}

.tab {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
  width: 100%;
  white-space: nowrap;
}

.active {
  border: 1.5px solid #fff;
  border-radius: 8px;
}

.glanceHeaderSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: 1.5rem;
}

.lastUpdated {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 0.9rem;
  text-align: right;
}
